{% load i18n %}
{% if event.details %}
    <div>
        <h3>{% blocktrans %}Details{% endblocktrans %}</h3>
        <p>{{ event.details }}</p>
    </div>
{% endif %}
<div>
    <h3>{% blocktrans %}When{% endblocktrans %}</h3>
    <p>
      {% blocktrans with event.when|date:"LONG_DATE_FORMAT" as event_date and event.start|time as event_time %}
      {{ event_date }} at {{ event_time }}
      {% endblocktrans %}
    </p>
</div>
<div>
    <h3>{% blocktrans %}Where{% endblocktrans %}</h3>
    <p>
        <span id="event_address">{{ event.geom.raw_address }}</span><br />
    </p>
    <a href="http://maps.google.com/maps?q={{event.geom.formatted_address|urlencode}}" 
        title="{% blocktrans %}Click to view a larger map{% endblocktrans %}"
        target="_blank">
        <img src="http://maps.google.com/maps/api/staticmap?center={{event.geom.latlng.y}},{{event.geom.latlng.x}}&zoom=16&size=431x200&markers={{event.geom.latlng.y}},{{event.geom.latlng.x}}&sensor=false" alt="{% blocktrans %}Map of the event{% endblocktrans %}"/>
    </a>
</div>
