{% load i18n %}
<h4>{% blocktrans %}Name:{% endblocktrans %} <span class="attendee_label">{{ guest.contributor.name }}</span></h4>
<h4>{% blocktrans %}Email:{% endblocktrans %} <span class="attendee_label">{{ guest.contributor.email }}</span></h4>
<h4>{% blocktrans %}Phone:{% endblocktrans %} <span class="attendee_label">{{ guest.contributor.phone }}</span></h4>
<br />
<form action="" method="post">
    <h2>{% blocktrans %}Empower Your Home{% endblocktrans %}</h2>
    <table class="commitment_table">
        <thead>
            <tr>
                <th></th>
                <th>{% blocktrans %}I've Done this{% endblocktrans %}</th>
                <th>{% blocktrans %}I pledge to do this{% endblocktrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for field in form %}
                {% if field.field.action %}
                    <tr>
                        <td>{{ field.label }}</td>
                        {{ field }}
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <h2>{% blocktrans %}Magnify Your Impact{% endblocktrans %}</h2>
    <table class="commitment_table">
        <thead>
            <tr>
                <th></th>
                <th>{% blocktrans %}Commit to Do{% endblocktrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for field in form %}
                {% if not field.field.action %}
                    <tr>
                        <td>{{ field.label }}</td>
                        <td>{{ field }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% csrf_token %}
    <div><input type="submit" value="{% blocktrans %}Save{% endblocktrans %}" /></div>
</form>
