{% load i18n %}
<div class="guest">
    <div class="guest_name">
        
        {% if guest.contributor.user %}
            {% safe_user_link guest.contributor.user %}
        {% else %}
            {{ guest.contributor.name}}
        {% endif %}
        {% if guest.is_host %}
            <span class="smaller event_host" title="{% blocktrans with guest.contributor.name as guest_name %}{{guest_name}} is a host{% endblocktrans %}">
	      {% blocktrans %}Host{% endblocktrans %}</span>
	    {% endif %}
	    <span class="smaller">&mdash; {{ guest.status }}

        {% if guest.comments %}
            <span class="ui-icon ui-icon-comment tooltip guest_icon" title="{{ guest.comments }}"></span>
        {% endif %}
    </div> 
</div>
