{% load i18n %}
<div class="guest">
    <div class="guest_name">
        
        {% if guest.contributor.user %}
            {% safe_user_link guest.contributor.user %}
        {% else %}
            {{ guest.contributor.name}}
        {% endif %}
        {% if guest.is_host %}
            <span class="smaller event_host" title="{% blocktrans with guest.contributor.name as guest_name %}{{guest_name}} is a host{% endblocktrans %}">
	      {% blocktrans %}Host{% endblocktrans %}</span>
        {% endif %}
        {% if guest.comments %}
            <span class="ui-icon ui-icon-comment tooltip guest_icon" title="{{ guest.comments }}"></span>
        {% endif %}
    </div>
    <h5 id="{% url event-guests-edit-status event.id,guest.id %}" class="editable rsvp_select">
        {% include "events/_guest_status.html" %}
    </h5>
    <a class="commitment_card_open" href="{% url commitments_card_with_form guest.contributor.id,event.default_survey.form_name %}">
      {% blocktrans %}Commitment Card{% endblocktrans %}
    </a>
</div>
