{% load i18n %}
<div>
    <h3>{% blocktrans %}Invitations{% endblocktrans %}</h3>
    <p>
        {% if event.confirmed_guests.count %}
	{% blocktrans with event.confirmed_guests.count as num_confirmed %}
            {{ num_confirmed }} confirmed
	{% endblocktrans %}
	<br />
        {% endif %}
        {% if event.maybe_attending.count %}
	{% blocktrans count event.maybe_attending.count as num_maybes %}
            {{ num_maybes }} maybe
	{% plural %}
            {{ num_maybes }} maybes
	{% endblocktrans %}
	<br />
        {% endif %}
        {% if event.not_attending.count %}
	{% blocktrans with event.not_attending.count as num_not_attending %}
            {{ num_not_attending }} can't attend
	{% endblocktrans %}
	<br />
        {% endif %}
        {% if event.outstanding_invitations %}
	{% blocktrans count event.outstanding_invitations as num_invitations %}
            {{ num_invitations }} outstanding invitation
	{% plural %}
            {{ num_invitations }} outstanding invitations
	{% endblocktrans %}
	{% endif %}
    </p>
</div>
