{% extends "base/nav_form.html" %}
{% load i18n %}
{% load dated_static %}
{% block title %}{% blocktrans %}Create an Event{% endblocktrans %}{% endblock %}
{% block breadcrumbs %}
    <a href="{% url index %}">{% blocktrans %}Home{% endblocktrans %}</a> &rsaquo;
    <a href="{% url action_community_show %}">{% blocktrans %}Community{% endblocktrans %}</a> &rsaquo;
    <a href="{% url event-show %}">{% blocktrans %}Events{% endblocktrans %}</a> &rsaquo;
    {% blocktrans %}Create an Event{% endblocktrans %}
{% endblock %}
{% block form_info %}
{% blocktrans %}
No special experience is needed to organize an energy meet up, just a passion
for saving energy and a few friends and neighbors. Our <a href="/hosting/">host materials</a> provide
step by step instructions for executing a great event and lots of fun
activities and materials to give to guests.
{% endblocktrans %}
{% endblock %}
{% block content %}
    <form id="event_form" action="" method="post"  class="form_6c">
        <h1>{% blocktrans %}Create an Event{% endblocktrans %}</h1>
        {% include "base/_form.html" %}
        {% csrf_token %}
        <div class="form_buttons">
            <a href="{% url event-show %}" class="form_cancel">{% blocktrans %}Cancel{% endblocktrans %}</a>
            <button class="button_mega" type="submit">{% blocktrans %}Create Event{% endblocktrans %}</button>
        </div>
    </form>
    <script>
        var RAH = RAH || {};
        RAH.pagescripts = RAH.pagescripts || [];
        RAH.pagescripts.push("{% dated_static 'js/pages/events.create.js' %}");
    </script>
{% endblock %}
