{% extends "base/nav_6c3c.html" %}
{% load i18n %}
{% load dated_static %}
{% load comments %}
{% block title %}{{ event }}{% endblock %}
{% block extrahead %}
    {% get_content_type_id for event as content_type_id %}
    <link rel="alternate" type="application/atom+xml" href="{% url comments_feed content_type_id,event.id %}" 
        title="{% blocktrans %}{{ event }} comments feed{% endblocktrans %}" />
{% endblock %}
{% block breadcrumbs %}
    <a href="{% url index %}">{% blocktrans %}Home{% endblocktrans %}</a> &rsaquo;
    <a href="{% url event-show %}">{% blocktrans %}Events{% endblocktrans %}</a> &rsaquo;
    {{ event }}
{% endblock %}
{% block title_bar %}
{{event}}
{% endblock %}
{% block title_bar_sub %}
    {% blocktrans %}{{ SITE_NAME }} Event{% endblocktrans %}
{% endblock %}

{% block tab_nav %}
    <li><a href="#overview">{% blocktrans %}Overview{% endblocktrans %}</a></li>
    <li><a href="#people">{% blocktrans %}People{% endblocktrans %}</a></li>
    <li><a href="#discussions">{% blocktrans %}Discussions{% endblocktrans %}</a></li>
    {% if has_manager_privileges %}
    <span class="tab_nav_link"><a href="{% url event-edit event.id %}">{% blocktrans %}Edit Event Details{% endblocktrans %}</a></span>
    {% endif %}
{% endblock %}
{% block content %}
    <div id="overview">
      {% include "events/_details.html" %}
    </div>
    <div id="people">        
        {% if has_manager_privileges %}
        <h3>{% blocktrans %}Guest List{% endblocktrans %}</h3>
        {% include "events/_guest_list.html" %}

        <h3>{% blocktrans %}Host Tools{% endblocktrans %}</h3>
                <ul class="plain_list">
                    <li><a href="{% url event-edit event.id %}">{% blocktrans %}Edit Event Details{% endblocktrans %}</a></li>
                    <li><a class="guests_add_link" href="{% url event-guests-add event.id %}">{% blocktrans %}Add Guest{% endblocktrans %}</a></li>
                    <li><a id="event_hosts_link" href="{% url event-hosts event.id %}">{% blocktrans %}Select Hosts{% endblocktrans %}</a></li>
                    <li>
                        <a href="{% url event-print event.id %}">{% blocktrans %}Sign In Sheet{% endblocktrans %}</a>
                        <span class="file_icon pdf_icon" title="{% blocktrans %}PDF sign in sheet download{% endblocktrans %}"></span>
                    </li>
                    <li>
                        <a href="{% url event-spreadsheet event.id %}">{% blocktrans %}Guest List{% endblocktrans %}</a>
                        <span class="file_icon excel_icon" title="{% blocktrans %}Excel guest list download{% endblocktrans %}"></span>
                    </li>
                </ul>
                {% include "events/_invitations.html" %}
		
		{% else %}
                <h3>{% blocktrans %}RSVP{% endblocktrans %}</h3>
                {% if guest.rsvp_status and not request.GET.reset %}
                    <p>
		      {% blocktrans with guest.get_rsvp_status_display as rsvp_status %}
                      You are: <span>{{ rsvp_status }}</span><br />
		      {% endblocktrans %}
                      (<a href="{{ event.get_absolute_url }}?reset=true">{% blocktrans %}change{% endblocktrans %}</a>)
                    </p>
                {% else %}
                    {% include "events/_rsvp_form.html" %}
                {% endif %}
            {% endif %}
        </div>
        <div class="box_one_bottom"></div>
        
        {% if has_manager_privileges %}
            <div class="box_one_top"></div>
            <div class="box_one_middle">
            </div>
            <div class="box_one_bottom"></div>
        {% endif %}
    </div>

    <div id="discussions">
      <h2 id="comments_form_heading">
        {% get_content_type_id for event as content_type_id %}
        <a class="button button_small button_feed feed_link"
	   href="{% url comments_feed content_type_id,event.id %}">
	  <span class="sprite_feed"></span> {% blocktrans %}Feed{% endblocktrans %}</a>
	{% blocktrans %}Discussions{% endblocktrans %}
      </h2>
        {% with event as object %}
            {% render_comment_list for object %}
            {% render_comment_form for object %}
        {% endwith %}
    </div>
    <script>
        var RAH = RAH || {};
        RAH.pagescripts = RAH.pagescripts || [];
        RAH.pagescripts.push("{% dated_static 'js/pages/events.detail.js' %}"); 
    </script>
{% endblock %}
