{% extends "base/nav_6c3c.html" %}
{% load i18n %}
{% load dated_static %}
{% block title %}{% blocktrans %}Edit {{ event }}{% endblocktrans %}{% endblock %}
{% block breadcrumbs %}
    <a href="{% url index %}">{% blocktrans %}Home{% endblocktrans %}</a> &rsaquo;
    <a href="{% url event-show %}">{% blocktrans %}Events{% endblocktrans %}</a> &rsaquo;
    <a href="{{ event.get_absolute_url }}">{{ event }}</a> &rsaquo;
    {% blocktrans %}Edit Event{% endblocktrans %}
{% endblock %}
{% block content %}
    <div class="grid_6 alpha">
        <div class="box_two_top"></div>
        <div class="box_two_middle">
            <h1>{% blocktrans %}Edit your Event{% endblocktrans %}</h1>
            <form id="event_form" action="" method="post">
                {% include "events/_form.html" %}
                {% csrf_token %}
                <input type="submit" value="{% blocktrans %}Save Changes{% endblocktrans %}" /> |
                <a href="{{ event.get_absolute_url }}">{% blocktrans %}cancel{% endblocktrans %}</a>
            </form>
        </div>
        <div class="box_two_bottom"></div>
    </div>
    <script>
        var RAH = RAH || {};
        RAH.pagescripts = RAH.pagescripts || [];
        RAH.pagescripts.push("{% dated_static 'js/pages/events.create.js' %}");
    </script>
{% endblock %}
