{% extends "base/nav_6c3c.html" %}

{% load i18n %}
{% block breadcrumbs %}
    <a href="{% url index %}">{% blocktrans %}Home{% endblocktrans %}</a> &rsaquo;
    <a href="{% url event-show %}">{% blocktrans %}Events{% endblocktrans %}</a> &rsaquo;
    <a href="{{ event.get_absolute_url }}">{{ event }}</a> &rsaquo;
    {% blocktrans %}Hosts{% endblocktrans %}
{% endblock %}

{% block content %}
    <div class="grid_6 alpha">
        <div class="box_three_top"></div>
        <div class="box_three_middle">
            {% include "events/_hosts.html" %}
        </div>
        <div class="box_three_bottom"></div>
    </div>
{% endblock %}
