{% extends "base/nav_9c.html" %}

{% load dated_static %}
{% load search_widget %}
{% load i18n %}

{% block title %}{% blocktrans %}Events{% endblocktrans %}{% endblock %}
{% block title_bar_image %}sprite_section_events_large{% endblock %}
{% block title_bar_title %}{% blocktrans %}Events{% endblocktrans %}{% endblock %}
{% block title_bar_copy %}
{% blocktrans %}
Come together with friends and neighbors to share tips and tricks for saving
energy at home. Meet ups are also a great place to share information about
energy efforts in the community and how to get involved. Find one near you or
host your own.
{% endblocktrans %}
{% endblock %}
{% block ribbon_bar %}{% blocktrans with map_events|length as num_events %}Showing {{num_events}} events{% endblocktrans %}{% endblock %}
{% block content %}
<div id="map_search" style="padding: 5px; background-color: #f2f2f2; 
			    border-radius: 5px;">
  <form class="search_widget">
    <div>
      <div style="float: right; padding-bottom: 5px; padding-left: 10px;">
	<input type="text" placeholder="{% blocktrans %}Address or region{% endblocktrans %}" 
	       id="search_widget_input" style="width: 250px"
	       class="search_value ui-autocomplete-input" role="textbox" />
	<button class="search_button"><span class="sprite_search_mag"></button>
      </div>
      <label style="float:right; padding-top: 5px"
	     for="map_search_place">{% blocktrans %}Search near:{% endblocktrans %}</label>
    </div>
  </form>
</div>
<div id="events_map_container">
    <div id="events_map"></div>
    <div id="events_map_shadow_top"></div>
    <div id="events_map_shadow_right"></div>
    <div id="events_map_shadow_bottom"></div>
    <div id="events_map_shadow_left"></div>
</div>

<div style="width: 675px" id="events_hosting">
    <img src="{% dated_static 'images/theme/event_example.jpg' %}" width="216" height="162" 
	 alt="{% blocktrans %}People attending an event{% endblocktrans %}"/>
    <div style="width: 400px">>
        <h2>{% blocktrans %}Hosting a Meetup is fun and easy{% endblocktrans %}</h2>
        <a href="{% url event-create %}" class="button"><b>+</b> {% blocktrans %}Create an Event{% endblocktrans %}</a>
	<br /><br />
        <p>
	  {% blocktrans %}
            We have all the <a href="/hosting/">materials</a> you need to host an energy meet up. 
	  {% endblocktrans %}
        </p>
    </div>
</div>
<br class="clear"/>
{% if events %}
<h2>{% blocktrans %}Recent Events{% endblocktrans %}</h2>
    <p class="smaller">
      {% blocktrans %}Can't find what you're looking for?{% endblocktrans %}
      <a href="{% url event-archive %}">{% blocktrans %}Browse past events{% endblocktrans %}</a>
    </p>
<ul class="plain_list nugget_9c_list">
    {% for event in events %}
        {% include 'base/_nugget_9c_list.html' %}
    {% endfor %}
</ul>
{% endif %}

<script type="text/javascript">
    //<![CDATA[
    var RAH = RAH || {};
    RAH.pagescripts = RAH.pagescripts || [];
    RAH.pagescripts.push("{% dated_static 'js/pages/events.show.js' %}");
    RAH.sprite_url = "{% dated_static 'images/theme/sprite.png' %}";
    // Add locations for plotting on the map
    RAH.event_locations = [];
    RAH.map_center = {};
    {% with request.user.get_profile.geom as geom %}
    {% if geom %}
    RAH.map_center.lat = {{geom.latlng.y}};
    RAH.map_center.lng = {{geom.latlng.x}};
    {% endif %}
    {% endwith %}
    {% for event in map_events %}
        var info = "<b><a href='{{ event.get_absolute_url }}'>{{ event.title|escape|escapejs }}</a></b><br/> {{ event.geom.raw_address|escape|escapejs }}<br/>";
            info += "<a href='{{ event.get_absolute_url }}'>View event</a>";
        RAH.event_locations.push({
            lat: "{{ event.geom.latlng.y }}",
            lon: "{{ event.geom.latlng.x }}",
            "info": info
        });
    {% endfor %}
    //]]>
</script>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
{% endblock %}
