{% extends "base/nav_form.html" %}
{% load dated_static %}
{% load i18n %}
{% block title %}{% blocktrans %}Log in{% endblocktrans %}{% endblock %}
{% block breadcrumbs %}
   <a href="{% url index %}">{% blocktrans %}Home{% endblocktrans %}</a> &raquo; 
   {% blocktrans %}Log in{% endblocktrans %}
{% endblock %}
{% block form_info %}
<h3>{% blocktrans %}Need a little help?{% endblocktrans %}</h3>
<ul>
    <li>
        <a href="{% url register %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}">{% blocktrans %}Create an account{% endblocktrans %}</a><br/>
    </li>
    <li>
        <a href="{% url password_reset %}">{% blocktrans %}Recover your password{% endblocktrans %}</a>
    </li>
</ul>
<div class="fb_button">
    <a href="#" class="fb_button fb_button_large">
        <span id="fb_login_text" class="fb_button_text">{% blocktrans %}Log in with Facebook{% endblocktrans %}</span>
    </a>
</div>
{% endblock %}
{% block content %}
    <form action="{% url login %}" method="post" class="form_6c">
        <h1>Log In</h1>
        {% with login_form as form %}
            {% include "base/_form.html" %}
        {% endwith %}
        {% csrf_token %}
        <div class="form_buttons">
            <button class="button_mega" type="submit">{% blocktrans %}Log in{% endblocktrans %}</button>
            <input type="hidden" name="next" value="{{ next|escape }}" />
        </div>
    </form>
    <script>
        var RAH = RAH || {};
        RAH.pagescripts = RAH.pagescripts || [];
        RAH.pagescripts.push("{% dated_static 'js/pages/rah.login.js' %}");
    </script>
{% endblock %}

