{% extends "base/nav_form.html" %}
{% load i18n %}
{% block title %}Reset your Password{% endblock %}
{% block breadcrumbs %}
    <a href="{% url index %}">Home</a> &raquo;
    Reset password
{% endblock %}
{% block form_info %}
<h3>Need to be someplace else?</h3>
<hr /><br />
<div>
  <a style="width: 78%" class="button button_small" href="{% url register %}">{% blocktrans %}Create an account{% endblocktrans %}</a>
</div>
<br />
<div class="fb_button">
    <a href="#" class="fb_button fb_button_large">
        <span id="fb_login_text" class="fb_button_text">Log in with Facebook</span>
    </a>
</div>
{% endblock %}
{% block content %}
<form action="" method="post" autocomplete="false" class="form_6c">
    <h1>Reset your password</h1>
    {% include "base/_form.html" %}
    {% csrf_token %}
    <div class="form_buttons">
        <button class="button_mega" type="submit">Reset Password</button>
    </div>
</form>
{% endblock %}
