{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:og="http://opengraphprotocol.org/schema/"
      xmlns:fb="http://www.facebook.com/2008/fbml" lang="en" xml:lang="en">
    <head>
        {% load dated_static %}
        <title>{% block title %}{% blocktrans %}Save energy at home and organize your community{% endblocktrans %}{% endblock %} | {{ SITE_NAME }}</title>
        <meta name="google-site-verification" content="LKUJZqwKMnEGjg_dQNKL-2eLLK3yvftU0RKv7SuymGQ" />
        <meta name="msvalidate.01" content="DC928E84A1569AF4933A7DB431C08DB4" />
        <meta name="y_key" content="9d9c6c76735e5a92"/>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <meta http-equiv="content-language" content="{{ request.LANGUAGE_CODE }}" />
        <meta name="geo.country" content="US"/>
        <meta name="geo.region" content="US-DC"/>
        <meta name="ICBM" content="38.896231, -77.024158"/>
        <meta name="og:site_name" content="{{ SITE_NAME }}"/>
        <meta name="fb:app_id" content="{{ settings.FACEBOOK_APPID }}"/>
        <meta property="og:site_name" content="{{ SITE_NAME }}"/>
        <meta property="fb:app_id" content="{{ settings.FACEBOOK_APPID }}"/>
        <meta name="keywords" content="{% block meta_keywords %}{% blocktrans %}energy efficiency, home energy, climate change, {{ SITE_NAME }}{% endblocktrans %}{% endblock %}" />
        <meta name="description" content="{% block meta_desc %}{% blocktrans %}We can take action to keep millions of pounds of dirty coal from polluting our communities. Every point you earn means one less pound of coal needs to be burned.{% endblocktrans %}{% endblock %}" />
        <meta name="DC.title" content="{{ SITE_NAME }}" /> 
        <meta name="DC.creator" content="{{ SITE_NAME }}" /> 
        <meta name="DC.subject" content="{% blocktrans %}energy efficiency; home energy; climate change;{% endblocktrans %}" /> 
        <meta name="DC.description" content="{% blocktrans %}We can take action to keep millions of pounds of dirty coal from polluting our communities. Every point you earn means one less pound of coal needs to be burned.{% endblocktrans %}" /> 
        <meta name="DC.format" content="text/html; charset=utf-8" />

	<script type="text/javascript" 
		src="http://use.typekit.com/szq1osm.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' 
	      rel='stylesheet' type='text/css'>

        <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" /> 
        <link rel="alternate" type="application/atom+xml"  href="http://feeds.feedburner.com/350org" title="{% blocktrans %}Blog{% endblocktrans %}" />
        <link rel="shortcut icon" href="{% dated_static 'images/theme/favicon.ico' %}"/>
        <link rel="stylesheet" href="{% dated_static 'css/compiled.css' %}" type="text/css" media="screen" charset="utf-8"/>
	<link rel="stylesheet" href="{% dated_static 'theme/jquery.ui.custom.css' %}" type="text/css" media="screen" charset="utf-8" />
        {% block extrahead %}{% endblock %}
        {% if testing_feedback_form %}
            <link rel="stylesheet" href="{% dated_static 'css/testing_widget.css' %}" type="text/css" media="screen" charset="utf-8"/>
        {% endif %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-11623269-1']);
            _gaq.push(['_trackPageview']);
        </script>
	<style type="text/css">
	  #language_dropdown {
	    display: none;
	  }
	</style>
    </head>
    <body>
        <div id="header_container">
            <div id="header" class="container_12">
                <div class="grid_12 alpha omega">
                    <a href="/" title="Home" id="header_logo" class="logo_text">
                        {{ SITE_NAME }}
                    </a>
                    <div id="header_links">
			<a href="http://www.350.org" class="not_last">{% blocktrans %}350.org{% endblocktrans %}</a>
                        <a href="http://www.350.org/about/blog/" class="not_last">{% blocktrans %}Blog{% endblocktrans %}</a>
                        <a href="/about/" class="not_last" id="header_about">{% blocktrans %}About{% endblocktrans %}</a>
                        <a href="{% url group_list %}" class="not_last" id="header_groups">{% blocktrans %}Groups{% endblocktrans %}</a>
                        <a href="{% url event-show %}" class="not_last" id="header_events">{% blocktrans %}Events{% endblocktrans %}</a>
                        <a href="{% url action_show %}" class="not_last" id="header_projects">{% blocktrans %}Projects{% endblocktrans %}</a>
                        <a href="{% url challenges_list %}" class="not_last" id="header_campaigns">{% blocktrans %}Campaigns{% endblocktrans %}</a>
			<a href="" id="header_language" {% if settings.LANGUAGES|length == 1 %}style="display:none"{% endif %}>
			  {{ request.LANGUAGE_VERBOSE_NAME }}
			</a>
                        {% if request.user.is_authenticated %}
                        <a href="{% url logout %}" class="button button_small button_blue">{% blocktrans %}Log Out{% endblocktrans %}</a>
                        {% else %}
                        <a href="{% url login %}" class="button button_small">{% blocktrans %}Log In{% endblocktrans %}</a>
                        {% endif %}
                    </div>
		    <div id="language_dropdown"
			 title="{% blocktrans %}Select your preferred language{% endblocktrans %}">
		      <ul id="language_nav">
			{% for language in settings.LANGUAGES %}
			<li><a href="{% url set_language %}?language={{language.0}}">
			    {{language.1}}</a></li>
			{% endfor %}
		      </ul>
		    </div>

                </div>
            </div>
        </div>
        <div id="content_container" class="{{ section_class }}">
            <div class="container_12">
                <div class="grid_12 alpha omega">
                    {% block 12c_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div id="footer_container">
            <div id="footer" class="container_12">
                <div class="grid_4 alpha">
                    <a href="/" title="Home" id="footer_logo" class="logo_text">
                        {{ SITE_NAME }}
                    </a>
                </div>
                <div class="grid_4">
                    <h2>{% blocktrans %}Who are we? Listen up.{% endblocktrans %}</h2>
                    <p>
		      {% blocktrans %}
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
                        ad minim veniam, quis nostrud exercitation ullamco.
		      {% endblocktrans %}
		      <a href="/about/">{% blocktrans %}Learn More{% endblocktrans %}</a>.
                    </p>
                </div>
                <div class="grid_4 omega">
                    <h2>{% blocktrans %}Follow Us{% endblocktrans %}</h2>
                    <div id="footer_social_icons">
                        <a href="http://www.facebook.com/350.org" class="sprite_social_fb" title="{% blocktrans %}Find us on Facebook{% endblocktrans %}" >
                        </a>
                        <a href="http://twitter.com/350" class="sprite_social_twitter" title="{% blocktrans %}Follow us on Twitter{% endblocktrans %}">
                        </a>
                        <a href="http://www.youtube.com/user/350org" class="sprite_social_yt" title="{% blocktrans %}Watch us on YouTube{% endblocktrans %}">
                        </a>
                        <a href="http://feeds.feedburner.com/350org" class="sprite_social_rss" title="{% blocktrans %}Subscribe to our blog{% endblocktrans %}">
                        </a>
                    </div>
                </div>
                <div class="grid_12 alpha omega">
                    <a href="/privacy/" rel="nofollow">{% blocktrans %}Privacy Policy{% endblocktrans %}</a> |
                    <a href="/about/">{% blocktrans %}About Us{% endblocktrans %}</a> | 
                    {% blocktrans %}
		    350 Local by <a href="http://350.org">350.org</a> is licensed under a
		    <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
		      Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
		    {% endblocktrans %}
                </div>
            </div>
        </div>
        {% if testing_feedback_form %}
            {% include 'codebase/_testing_widget.html' %}
        {% endif %}
        <div id="fb-root"></div>

	<script type="text/javascript" charset="utf-8">
	  var is_ssl = ("https:" == document.location.protocol);
	  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
	  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript" charset="utf-8">
	  var feedback_widget_options = {};
	  
	  feedback_widget_options.display = "overlay";  
	  feedback_widget_options.company = "350org";
	  feedback_widget_options.placement = "right";
	  feedback_widget_options.color = "#222";
	  feedback_widget_options.style = "question";
	  
	  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
	</script>

        <script type="text/javascript" charset="utf-8">
            var media_url = "{{ MEDIA_URL }}"; // contains trailing slash
            var RAH = RAH || {};
            RAH.ENV = {};
            RAH.ENV.facebook_appid = '{{ FACEBOOK_APPID }}';
        </script>
        <script type="text/javascript" charset="utf-8" src="{% dated_static 'js/require-jquery.js' %}"></script>
        {% block extrajs %}{% endblock %}
        {% block pagejs %}
            <script type="text/javascript">
                (function() {
                    RAH = RAH || {};
                    RAH.pagescripts = RAH.pagescripts || [];
                    {% if ask_to_share %}
                        RAH.pagescripts.push("{% dated_static 'js/mods/share.js' %}");
                    {% endif %}
                    {% if testing_feedback_form %}
                        RAH.pagescripts.push("{% dated_static 'js/mods/testing_widget.js' %}");
                    {% endif %}
                    require({
                        priority: ["{%dated_static 'js/pages/base.js' %}",
                        "https://connect.facebook.net/en_US/all.js"].concat(RAH.pagescripts)
                        }, ["{% dated_static 'js/pages/base.js' %}"].concat(RAH.pagescripts), function () {
                            var args = Array.prototype.slice.call(arguments);
                            $(function() {
                                {% if testing_feedback_form %}
                                    args.pop().setup(); // testing mod is the last arg in pagescripts, remove it
                                {% endif %}
                                {% if ask_to_share %}
                                    args.pop().setup("{% url records_ask_to_share %}"); // share mod is the last arg in pagescripts, remove it
                                {% endif %}
                            });
                    });
                })();
            </script>
        {% endblock %}
        <script type="text/javascript">
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
            })();
        </script>
    </body>
</html>
