{% extends "base/nav.html" %}
{% block breadcrumbs_slot %}
    <div id="breadcrumbs_shadow">
        {% block breadcrumbs %}{% endblock %}
    </div>
{% endblock %}
{% block content_9c %}
    <div class="grid_6 alpha">
        <div id="content_6c">
        {% block content %}{% endblock %}
        </div>
    </div>
    <div class="grid_3 omega">
        <div id="form_info">
        {% block form_info %}{% endblock %}
        <div id="form_info_wrap"></div>
        </div>
    </div>
{% endblock %}
