{% extends "groups/base.html" %}
{% load i18n %}
{% load dated_static %}
{% block title %}{% blocktrans %}Communities{% endblocktrans %}{% endblock %}
{% block breadcrumbs %}
    <a href="{% url index %}">{% blocktrans %}Home{% endblocktrans %}</a> &rsaquo;
    <a href="{% url group_list %}">{% blocktrans %}Communities{% endblocktrans %}</a> &rsaquo;
    {% blocktrans %}Search Results{% endblocktrans %}
{% endblock %}
{% block right_content %}
<div class="grid_6 alpha">
    <div class="box_two_top"></div>
    <div class="box_two_middle">
        <h1>{% blocktrans %}Search Results{% endblocktrans %}</h1>
        {% with object_list as groups %}
            {% include 'groups/_group_nugget_list.html' %}
        {% endwith %}
        {% if page_obj.has_next %}
            <a class="search_more" href="{{ request.path }}?search={{ request.GET.search }}&amp;page={{ page_obj.next_page_number }}">{% blocktrans %}more{% endblocktrans %}</a>
        {% endif %}
    </div>
    <div class="box_two_bottom"></div>
</div>
{% endblock %}
