{% extends "base/nav_form.html" %}
{% load i18n %}
{% load dated_static %}
{% block title %}{% blocktrans %}Edit {{ group }} settings{% endblocktrans %}{% endblock %}
{% block breadcrumbs %}
    <a href="{% url index %}">{% blocktrans %}Home{% endblocktrans %}</a> &rsaquo;
    <a href="{% url group_list %}">{% blocktrans %}Communities{% endblocktrans %}</a> &rsaquo;
    <a href="{% url group_detail group.slug %}">{{ group.name }}</a> &rsaquo;
    {% blocktrans %}Edit Community{% endblocktrans %}
{% endblock %}
{% block content %}
    <h1>{% blocktrans %}Edit Community{% endblocktrans %}</h1>
      <div id="group_edit_tabs" class="tabs">
                <ul id="tab_nav" class="plain_list">
                    <li><a href="#group_tab">{% blocktrans %}Community{% endblocktrans %}</a></li>
                    <li><a href="#members_tab">{% blocktrans %}Members{% endblocktrans %}</a></li>
                    <li><a href="#discussions_tab">{% blocktrans %}Discussions{% endblocktrans %}</a></li>
                </ul>
                <div id="group_tab">
                    <form id="group_form" action="" method="post" enctype="multipart/form-data" class="form_6c">
                        {% with group_form as form %}
                            {% include "groups/_group_form.html" %}
                        {% endwith %}
                            <p style="clear: both">
			      <input type="submit" name="change_group" 
				      value="{% blocktrans %}Save Settings{% endblocktrans %}" />
			    </p>
                        {% csrf_token %}
                    </form>
                    <form id="delete_group_form" action="" method="post" class="form_6c">
                        <h3>{% blocktrans %}Delete Community{% endblocktrans %}</h3>
                        <p>
			  {% blocktrans %}
			  Deleting a community will immediately remove it from our system.<br/>Communities cannot be undeleted.
			  {% endblocktrans %}
			</p>
                        <p><input type="submit" name="delete_group" value="{% blocktrans %}Delete Community{% endblocktrans %}" /></p>
                        {% csrf_token %}
                    </form>
                </div>
                <div id="members_tab">
		  <h4>{% blocktrans %}Member Roles{% endblocktrans %}</h4>
                  <form id="membership_form" action="" method="post" class="form_6c">
                    {% with membership_form as form %}
                    {% include "groups/_membership_form.html" %}
                    {% endwith %}
                    {% csrf_token %}
                  </form>

		  {% if requesters %}
                <h4>{% blocktrans %}Membership Requests{% endblocktrans %}</h4>
                <ul>
                    {% for requester in requesters %}
                        <li class="membership_request">
			  {% safe_user_link requester as user_link %}
			  {% blocktrans %}
                            {{ user_link }} would like to join
			  {% endblocktrans %}
                            <div class="membership_tools">
                              <a href="{% url group_approve group.id requester.id %}">
				{% blocktrans %}Approve{% endblocktrans %}</a> 
			      {% blocktrans %}or{% endblocktrans %} 
                                <a href="{% url group_deny group.id requester.id %}">
				  {% blocktrans %}Deny{% endblocktrans %}</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
		{% endif %}

                </div>
                <div id="discussions_tab">
                    <form action="" method="post" class="form_6c">
                        {{discussions_form.as_p}}
                        <p><input type="submit" name="discussion_settings" value="{% blocktrans %}Save Discussion Settings{% endblocktrans %}" /></p>
                        {% csrf_token %}
                    </form>
                </div>
      </div>
    <script>
        var RAH = RAH || {};
        RAH.pagescripts = RAH.pagescripts || [];
        RAH.pagescripts.push("{% dated_static 'js/pages/group.edit.js' %}"); 
    </script>
{% endblock %}
