{% extends "base/nav_form.html" %}
{% load i18n %}
{% load dated_static %}
{% block title %}{% blocktrans %}Create a Community{% endblocktrans %}{% endblock %}
{% block breadcrumbs %}
<a href="{% url index %}">{% blocktrans %}Home{% endblocktrans %}</a> &rsaquo;
<a href="{% url group_list %}">{% blocktrans %}Community{% endblocktrans %}</a> &rsaquo;
{% blocktrans %}Create Community{% endblocktrans %}
{% endblock %}
{% block form_info %}
{% if external_group %}
    {% blocktrans %}info for adding group to map should go here{% endblocktrans %}
{% else %}
    {% blocktrans %}info for group creation should go here{% endblocktrans %}
{% endif %}
{% endblock %}
{% block content %}
    <form id="group_form" action="" method="post" enctype="multipart/form-data" class="form_6c">
      {% if external_group %}
      <h1>{% blocktrans %}Add My Group to the Map{% endblocktrans %}</h1>
      {% else %}
      <h1>{% blocktrans %}Create a Community{% endblocktrans %}</h1>
      {% endif %}

	{% with link_form as form %}
        {% include "base/_form.html" %}
	{% endwith %}
        {% include "base/_form.html" %}
        <div class="form_buttons">
            <a href="{% url group_list %}" class="form_cancel">{% blocktrans %}Cancel{% endblocktrans %}</a>
            <button class="button_mega" type="submit">{% blocktrans %}Create Community{% endblocktrans %}</button>
        </div>
        {% csrf_token %}
    </form>
    <script>
        var RAH = RAH || {};
        RAH.pagescripts = RAH.pagescripts || [];
        RAH.pagescripts.push("{% dated_static 'js/pages/group.create.js' %}");
    </script>
{% endblock %}
