{% extends "base/nav_6c3c_b.html" %}
{% load i18n %}
{% load humanize %}
{% load record %}
{% load invites %}
{% load dated_static %}

{% block title %}{{group.name}}{% endblock %}
{% block extrahead %}
    {% if group.slug %}
        <link rel="alternate" type="application/atom+xml"  href="{% url group_activity_feed group.slug %}" title="{% blocktrans %}{{ SITE_NAME }} Community Activity{% endblocktrans %}" />
    {% endif %}
{% endblock %}
{% block title_bar_image %}
        <img src="{{ MEDIA_URL }}{{ group.image.thumbnail_colorspace_80x80smartcrop }}" alt="{% blocktrans %}group image{% endblocktrans %}" height="80" width="80" />
{% endblock %}
{% block title_bar_title %}{{group.name}}{% endblock %}
{% block title_bar_copy %}
    <p id="title_bar_9c_info">
        {% if group.headquarters %}
            {{ group.headquarters }} | 
        {% endif %}
        <span>
	  {% blocktrans with group.created|date:"M Y" as date_created %}
	  Created {{ date_created }}
	  {% endblocktrans %}
	</span>
    </p>
    {{ group.description|linebreaksbr }}
{% endblock %}
{% block tab_nav %}
    {% if not group.is_external_link_only %}
    <li><a href="#overview">{% blocktrans %}Overview{% endblocktrans %}</a></li>
    <li><a href="#discussions">{% blocktrans %}Discussions{% endblocktrans %}</a></li>
    <li><a href="#activity">{% blocktrans %}Activity{% endblocktrans %}</a></li>
    <li><a href="#events">{% blocktrans %}Events{% endblocktrans %}</a></li>
    <li><a href="#challenges">{% blocktrans %}Challenges{% endblocktrans %}</a></li>
    <li><a href="#actions">{% blocktrans %}Actions{% endblocktrans %}</a></li>
    {% if is_manager %}
    <li><a href="#requests">{% blocktrans %}Requests and Notifications{% endblocktrans %}</a></li>
    {% endif %}
    {% endif %}
    {% if is_manager %}
    <span class="tab_nav_link"><a href="{% url group_edit group.slug %}">{% blocktrans %}Edit community{% endblocktrans %}</a></span>
    {% endif %}
{% endblock %}

{% block content %}
    {% if group.is_external_link_only %}
    <a class="button" rel="nofollow" href="{{group.external_link}}">Visit Site</a>
    {% else %}
    <div id="overview">
        <table class="tablesorter">
            <thead>
                <tr>
                    <th class="header">{% blocktrans %}Members{% endblocktrans %}</th>
                    <th class="header">{% blocktrans %}Committed Actions{% endblocktrans %}</th>
                    <th class="header">{% blocktrans %}Actions Completed{% endblocktrans %}</th>
                    <th class="header">{% blocktrans %}Points Earned{% endblocktrans %}</th>
                    <th class="header">{% blocktrans %}Last Active{% endblocktrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for user in top_members %}
                    <tr>
                        <td>{% safe_user_link user %}</td>
                        <td>{{ user.actions_committed|default_if_none:0 }}</td>
                        <td>{{ user.actions_completed|default_if_none:0 }}</td>
                        <td>{{ user.total_points}}</td>
                        <td>{{ user.last_active|date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <p>
	  {% blocktrans with group.total_points as total_points and group.total_members as num_members %}
            Community points: {{ total_points }}<br />
            Total members: {{ num_members }}<br />
	  {% endblocktrans %}
        </p>
        <p>
          {% if group.is_joinable and is_member %}
          <a href="{% url group_leave group.id %}">
	    {% blocktrans %}Leave Community{% endblocktrans %}
	  </a>
          {% endif %}
          {% if group.is_joinable and not is_member and not membership_pending %}
          <a class="button" href="{% url group_join group.id %}">
	    {% blocktrans %}Join Community{% endblocktrans %}
	  </a>
          {% endif %}
	</p>
        {% if membership_pending %}
        <p>
	  {% blocktrans %}Your membership status is currently <b>pending</b>.{% endblocktrans %}
	</p>
        {% endif %}

    
	{% if is_member %}
        <h3>{% blocktrans %}Community Invitations{% endblocktrans %}</h3>
        <p>
          {% blocktrans with group.invites_sent as num_invites %}
	  Invites sent: {{ num_invites }}
	  {% endblocktrans %}
	  <br style="clear: both" />
          <a class="button invite_friend_link" href="{% url invite-invite %}">
	    {% blocktrans %}Send Invite{% endblocktrans %}</a>
        </p>
        <div id="invite_friend_dialog">
          {% get_invite_form for group %}
        </div>
	{% endif %}

    </div>

    <div id="discussions">
        {% if not group.is_geo_group %}
            <h2>{% blocktrans %}Discussions{% endblocktrans %}</h2>
            <div class="group_disc_box_links">
                {% if is_poster %}
                    <a href="{% url group_disc_create group.slug %}">{% blocktrans %}New discussion{% endblocktrans %}</a> 
                {% endif %}
                {% if is_poster and discs %}
                    |
                {% endif %}
                {% if discs %}
                    <a href="{% url group_disc_list group.slug %}">{% blocktrans %}Archive{% endblocktrans %}</a>
                {% endif %}
            </div>            
            {% if discs %}
                {% include "groups/_group_disc_list.html" %}
            {% else %}
                <em>{% blocktrans %}No discussions yet.{% endblocktrans %}</em>
            {% endif %}
        {% endif %}
    </div>
    
    <div id="activity">
    {% if group_records %}
        <h2>{% blocktrans %}Community Activity{% endblocktrans %}
            {% if group.slug %}
                <a class="feed_link" href="{% url group_activity_feed group.slug %}">{% blocktrans %}Feed{% endblocktrans %}</a>
            {% endif %}
        </h2>
        {% for record in group_records %}
            {% render_record record %}
        {% endfor %}
    {% endif %}
    </div>

    <div id="events">
	<h2>{% blocktrans %}Events{% endblocktrans %}</h2>
	<ul class="plain_list nugget_9c_list">
	{% for event in group.event_set.all %}
            {% include 'base/_nugget_9c_list.html' %}	
	{% endfor %}
	</ul>
    </div>

    <div id="challenges">
	<h2>{% blocktrans %}Challenges{% endblocktrans %}</h2>
	  <ul class='plain_list nugget_3c'>
	{% for challenge in group.challenge_set.all %}
        <li class="nugget_3c_tall {% if challenge.status %}nugget_3c_completed{% endif %}">
            <div class="nugget_3c_status">
                {% if challenge.status %}
                    <span class="sprite_check_white_small"></span>
                    {% blocktrans %}COMPLETED{% endblocktrans %}
                {% else %}
                    {% blocktrans %}Petition Challenge{% endblocktrans %}
                {% endif %}
            </div>

            <h2>
                <a href="{% url challenges_detail challenge.id %}">{{ challenge.title }} </a>
            </h2>
            <p>
            {% safe_user_link challenge.creator as user_link %}
	    {% blocktrans with challenge.goal|intcomma as num_supporters %}
            Created by: {{user_link}}
	    <br/>
            Goal: {{ num_supporters }} supporters
	    {% endblocktrans %}
            </p>
            
            {% include "challenges/_progress_bar.html" %}
        </li>
	{% endfor %}
	</ul>
    </div>

    <div id="requests">
        {% if not requesters and not event_requests and not challenge_requests and not action_requests %}
	{% blocktrans %}
	There are currently no membership or association requests awaiting approval.
	{% endblocktrans %}
	{% endif %}
	{% if requesters %}
        <h3>{% blocktrans %}Membership Requests{% endblocktrans %}</h3>
        <ul>
            {% for requester in requesters %}
                <li class="membership_request">
		  {% safe_user_link requester as user_link %}
		  {% blocktrans %}
                  {{ user_link }} would like to join
		  {% endblocktrans %}

                  <div class="membership_tools">
                    <a href="{% url group_approve group.id requester.id %}">
		      {% blocktrans %}Approve{% endblocktrans %}</a>
		    {% blocktrans %}or{% endblocktrans %}
                    <a href="{% url group_deny group.id requester.id %}">
		      {% blocktrans %}Deny{% endblocktrans %}</a>
                  </div>
                </li>
            {% endfor %}
        </ul>
	{% endif %}

	{% if event_requests %}
        <h3>{% blocktrans %}Event Link Requests{% endblocktrans %}</h3>
        <ul>
          {% for er in event_requests %}
          <li class="membership_request">
	    {% with er.content_object as content_object %}
	    {% safe_user_link content_object.creator as user_link %}
	    {% linkify content_object as object_link %}
	    {% blocktrans %}
            {{ user_link }} has requested to link this community to {{ object_link }}
	    {% endblocktrans %}
            <div class="membership_tools">
              <a href="{% url group_event_approve er.group.id er.object_id %}">
		{% blocktrans %}Approve{% endblocktrans %}</a>
	      {% blocktrans %}or{% endblocktrans %}
              <a href="{% url group_event_deny er.group.id er.object_id %}">
		{% blocktrans %}Deny{% endblocktrans %}</a>
            </div>
	    {% endwith %}
          </li>
          {% endfor %}
        </ul>
	{% endif %}

	{% if challenge_requests %}
        <h3>{% blocktrans %}Challenge Link Requests{% endblocktrans %}</h3>
        <ul>
          {% for cr in challenge_requests %}
          <li class="membership_request">
	    {% with cr.content_object as content_object %}
	    {% safe_user_link content_object.creator as user_link %}
	    {% linkify content_object as object_link %}
	    {% blocktrans %}
            {{ user_link }} has requested to link this community to {{ object_link }}
	    {% endblocktrans %}
            <div class="membership_tools">
              <a href="{% url group_challenge_approve cr.group.id cr.object_id %}">
		{% blocktrans %}Approve{% endblocktrans %}</a>
	      {% blocktrans %}or{% endblocktrans %}
              <a href="{% url group_challenge_deny cr.group.id cr.object_id %}">
		{% blocktrans %}Deny{% endblocktrans %}</a>
            </div>
	    {% endwith %}
          </li>
          {% endfor %}
        </ul>
	{% endif %}

	{% if action_requests %}
        <h3>{% blocktrans %}Action Link Requests{% endblocktrans %}</h3>
        <ul>
          {% for ar in action_requests %}
          <li class="membership_request">
	    {% with ar.content_object as content_object %}
	    {% linkify content_object as object_link %}
	    {% blocktrans %}
            Somebody has requested to link this community to {{ object_link }}
	    {% endblocktrans %}
            <div class="membership_tools">
              <a href="{% url group_action_approve ar.group.id ar.object_id %}">
		{% blocktrans %}Approve{% endblocktrans %}</a>
	      {% blocktrans %}or{% endblocktrans %}
              <a href="{% url group_action_deny ar.group.id ar.object_id %}">
		{% blocktrans %}Deny{% endblocktrans %}</a>
            </div>
	    {% endwith %}
          </li>
          {% endfor %}
        </ul>
	{% endif %}

    </div>

    <div id="actions">
      {% if group.action_set.count %}
      <h3>{% blocktrans %}Actions{% endblocktrans %}</h3>
      {% for action in group.action_set.all %}
      <p>
        <a href="{% url action_detail action.slug %}">{{ action }}</a><br/>
      </p>
      {% endfor %}      
      {% endif %}

      {% if popular_actions %}
      <h3>{% blocktrans %}Popular Actions{% endblocktrans %}</h3>
      {% for action in popular_actions %}
      <p>
        <a href="{% url action_detail action.slug %}">{{ action }}</a><br/>
        <span class="smaller">
	  {% blocktrans count action.completes_in_group as num_completions %}
	  {{ num_completions }} member
	  {% plural %}
	  {{ num_completions }} members
	  {% endblocktrans %}
	</span>
      </p>
      {% endfor %}
      {% endif %}
    </div>

    {% endif %}
<script>
    var RAH = RAH || {};
    RAH.pagescripts = RAH.pagescripts || [];
    RAH.pagescripts.push("{% dated_static 'js/pages/group.detail.js' %}"); 
</script>
{% endblock %}
