{% extends "base/nav_6c3c.html" %}
{% load i18n %}
{% load comments %}
{% load humanize %}
{% block breadcrumbs %}
    <a href="{% url index %}">{% blocktrans %}Home{% endblocktrans %}</a> &raquo;
    <a href="{% url challenges_list %}">{% blocktrans %}Challenges{% endblocktrans %}</a> &raquo;
    {{ challenge.title }}
{% endblock %}
{% block title_bar_sub %}{% blocktrans %}Petition Challenge{% endblocktrans %}{% endblock %}
{% block title_bar %}<div class="title_bar_full_width_title">{{ challenge.title }}</div>{% endblock %}
{% block tab_nav %}
    <li><a href="#overview">{% blocktrans %}Overview{% endblocktrans %}</a></li>
    <li><a href="#supporters">{% blocktrans %}Supporters{% endblocktrans %}</a></li>
    {% if has_manager_privileges %}
    <li><a href="#download">{% blocktrans %}Download{% endblocktrans %}</a></li>
        <span class="tab_nav_link"><a href="{% url challenges_edit challenge.id %}">
	    {% blocktrans %}Edit this Challenge{% endblocktrans %}
	</a></span>
    {% endif %}
{% endblock %}
{% block content %}
<div id="overview">
  <p style="clear: both">
    <a href="{% url challenge_contact_admins challenge.id %}" class="button">
      Contact Campaign Organizers
    </a>
  </p>


  <p class="action_deck">
    {{ challenge.description }}
  </p>

  <form action="{% url challenges_sign challenge.id %}" method="post"
	class="form_6c form_6c_dark">
    {% include "base/_form.html" %}

    {% if groups_to_join %}
    <div class="form_row">
    <ul class="plain_list">
      {% for group in groups_to_join %}
      <li>
	<input name="join_group" value="{{ group.id }}"
	       {% if group.is_joinable and group.is_public %}checked="checked"{% endif %}
	       id="join_group_{{ group.slug }}" type="checkbox"></input>
	<label style="color: white; font-weight: bold;" 
	       for="join_group_{{ group.slug }}">
	  Add me to 
	  <a style="color: #F90;"
	     href="{{ group.get_absolute_url }}">{{ group }}</a>
	  and keep me posted on local activities.
	</label>
      </li>
      {% endfor %}
    </ul>
    </div>
    {% endif %}

    {% csrf_token %}
    <div class="form_buttons">
      <button class="button button_mega" type="submit">
	{% blocktrans %}Sign the Petition{% endblocktrans %}
      </button>
    </div>
  </form>

  <hr />
  <h3 id="comments_form_heading">
    {% get_content_type_id for challenge as content_type_id %}
    <a class="button button_small button_feed" 
       href="{% url comments_feed content_type_id,challenge.id %}">
      <span class="sprite_feed"></span> {% blocktrans %}Feed{% endblocktrans %}
    </a>
    {% blocktrans %}Discussions{% endblocktrans %}
  </h3>
  {% with challenge as object %}
  {% render_comment_form for object %}
  {% render_comment_list for object %}
  {% endwith %}

</div>

<div id="supporters">
    {% if supporters %}
        <h2>{% blocktrans %}Latest Supporters{% endblocktrans %}</h2>
        <ul class="plain_list nugget_2c_list">
            {% for supporter in supporters %}
                {% include "base/_nugget_2c_list_supporter.html" %}
            {% endfor %}
        </ul>

	{% if has_manager_privileges %}
	<a href="{% url challenges_disc_create challenge.id %}">
	  Mail supporters
	</a>
	{% endif %}

    {% endif %}
</div>

{% if has_manager_privileges %}
<div id="download">
  <h2>{% blocktrans %}Download Signatures{% endblocktrans %}</h2>
  {% if supporters|length %}
  {% url challenges_pdf challenge.id as download_url %}
  {% blocktrans with supporters|length as num_signatures %}
  You have collected {{ num_signatures }} signatures.
  <a class="button" href="{{ download_url }}">
    Download PDF
  </a>
  {% endblocktrans %}
  {% else %}
  {% blocktrans %}
  You have not yet collected any signatures.
  {% endblocktrans %}
  {% endif %}
</div>
{% endif %}

{% endblock %}
{% block sidebar %}
    <div class="ribbon_small ribbon_small_dark">
        {% blocktrans %}Share{% endblocktrans %}
        <div class="ribbon_small_wrap ribbon_small_wrap_dark"></div>
    </div>
    {% with challenge as object %}
        {% include "base/_nugget_share.html" %}
    {% endwith %}
    <div class="ribbon_small">
        {% blocktrans %}Petitions signed{% endblocktrans %}
        <div class="ribbon_small_wrap"></div>
    </div>
    {% include "challenges/_progress_bar.html" %}

{% endblock %}
