{% extends "base/nav_form.html" %}
{% load i18n %}
{% load dated_static %}
{% block title %}
{% if type_label == "Create" %}
{% blocktrans %}Create a Challenge{% endblocktrans %}
{% else %}
{% blocktrans %}Edit a Challenge{% endblocktrans %}
{% endif %}
{% endblock %}
{% block breadcrumbs %}
    <a href="{% url index %}">{% blocktrans %}Home{% endblocktrans %}</a> &rsaquo;
    <a href="{% url challenges_list %}">{% blocktrans %}Challenges{% endblocktrans %}</a> &rsaquo;
    {% if challenge.id %}
        <a href="{% url challenges_detail challenge.id %}">{{challenge.title|truncatewords:6}}</a> &rsaquo;
    {% endif %}

    {% if type_label == "Create" %}
    {% blocktrans %}Create challenge{% endblocktrans %}
    {% else %}
    {% blocktrans %}Edit challenge{% endblocktrans %}
    {% endif %}
    {% endblock %}
{% block content %}
    <form id="challenge_form" action="" method="post" class="form_6c">
        {% if type_label == "Create" %}
        <h1>{% blocktrans %}Create Challenge{% endblocktrans %}</h1>
	{% else %}
        <h1>{% blocktrans %}Edit Challenge{% endblocktrans %}</h1>
	{% endif %}

        {% include "base/_form.html" %}
        {% csrf_token %}
        <div class="form_buttons">
            {% if challenge.id %}
            <a href="{% url challenges_detail challenge.id %}" class="form_cancel">{% blocktrans %}Cancel{% endblocktrans %}</a>
            <button class="button_mega" type="submit">{% blocktrans %}Save Challenge{% endblocktrans %}</button>
            {% else %}
            <a href="{% url challenges_list %}" class="form_cancel">{% blocktrans %}Cancel{% endblocktrans %}</a>
            <button class="button_mega" type="submit">{% blocktrans %}Create Challenge{% endblocktrans %}</button>
            {% endif %}
            
        </div>
    </form>
    <script>
        var RAH = RAH || {};
        RAH.pagescripts = RAH.pagescripts || [];
    </script>
{% endblock %}
{% block form_info %}
    {% blocktrans %}Use this form to create or edit a challenge{% endblocktrans %}
{% endblock %}

