{% load i18n %}
<div class="group_action_form_container">
  <h3>
    {% blocktrans %}
    Take on this project
    {% endblocktrans %}
  </h3>

{% if not group_link_forms %}

  {% url group_list as group_list_url %}
  {% url group_create as group_create_url %}
  {% blocktrans %}
  You're not yet a member of any groups.  
  You can  <a href="{{ group_list_url }}">look for
    a group near you</a> to join, or
  <a href="{{ group_create_url }}"> start your own 
    group</a> to take on this project.
  {% endblocktrans %}

{% else %}

  {% blocktrans %}
  Select a group:
  {% endblocktrans %}
  <select class="group_action_form_picker">
    {% for form in group_link_forms %}
    <option value="{{form.group_obj.slug}}">{{form.group_obj.name}}</option>
    {% endfor %}
  </select>
  <br />
  <br />
  {% for form in group_link_forms %}
  <div class="group_action_form_group {{form.group_obj.slug}}" {% if not forloop.first %}style="display: none"{% endif %}>
  {% with form.progress as progress %}
  {% with form.days_till_commitment as days_till_commitment %}
  {% with form as action_commit_form %}
  {% with form.hidden_fields.0 as extra_form_data %}
    {% include "actions/_action_form.html" %}
  {% endwith %}
  {% endwith %}
  {% endwith %}
  {% endwith %}
  </div>
  {% endfor %}

{% endif %}
</div>
