{% load i18n %}
<div class="group_action_form_container">
  {% blocktrans %}
  Select a group:
  {% endblocktrans %}
  <select class="group_action_form_picker">
    {% for form in group_link_forms %}
    <option value="{{form.group_obj.slug}}">{{form.group_obj.name}}</option>
    {% endfor %}
  </select>
  {% for form in group_link_forms %}
  <div class="group_action_form_group {{form.group_obj.slug}}" {% if not forloop.first %}style="display: none"{% endif %}>
  <h3>{{form.group_obj.name}}</h3>
  {% with form.progress as progress %}
  {% with form.days_till_commitment as days_till_commitment %}
  {% with form as action_commit_form %}
  {% with form.hidden_fields.0 as extra_form_data %}
    {% include "actions/_action_form.html" %}
  {% endwith %}
  {% endwith %}
  {% endwith %}
  {% endwith %}
  </div>
  {% endfor %}
</div>
