{% extends "base/nav_9c.html" %}
{% load dated_static %}
{% load humanize %}
{% load i18n %}
{% block title %}{% blocktrans %}Actions{% endblocktrans %}{% endblock %}
{% block title_bar_image %}sprite_section_action_large{% endblock %}
{% block title_bar_title %}{% blocktrans %}Actions{% endblocktrans %}{% endblock %}
{% block title_bar_copy %}
  {% blocktrans %}
    The actions you’ll find here will cut energy waste, lower your monthly bills
    and put your home on the leading edge of the energy efficiency revolution.
  {% endblocktrans %}
{% endblock %}
{% block ribbon_bar %}
  {% blocktrans count actions|length as num_actions %}
    Showing {{ num_actions }} action
  {% plural %}
    Showing {{ num_actions }} actions
  {% endblocktrans %}
{% endblock %}
{% block content %}
<ul class="plain_list nugget_3c">
    {% for action in actions %}
    <li class="nugget_3c_{% if action.completed %}completed{% else %}{% if action.committed %}committed{% endif %}{% endif %}">
    <div class="nugget_3c_status">
    {% if action.completed %}
        <span class="sprite_check_white_small"></span>
        {% blocktrans %}COMPLETED{% endblocktrans %}
    {% else %}
        {% if action.committed %}
            <span class="sprite_star_white_small"></span>
            {% blocktrans with action.committed|date:"N jS" as commitment_date %}
	    COMMITTED: {{commitment_date}}
	    {% endblocktrans %}
        {% else %}
	    &nbsp;
	    {% comment %}
	    {% blocktrans with action.points|intcomma as action_points %}
            {{ action_points }} Points
	    {% endblocktrans %}
	    {% endcomment %}
        {% endif %}
    {% endif %}
    </div>
    <h2>
        <a href="{% url action_detail action.slug %}">{{ action.name }}</a>
    </h2>
    <a href="{% url action_detail action.slug %}">
        <img src="{{ action.image_paths.small }}" width="60" height="60" 
	     alt="{% blocktrans with action.name as action_name %}Image for {{action_name}}{% endblocktrans %}"/>
    </a>
    <p>{{ action.teaser|safe }}</p>
    </li>
    {% endfor %}
</ul>
<script>
    var RAH = RAH || {};
    RAH.pagescripts = RAH.pagescripts || [];
    RAH.pagescripts.push("{% dated_static 'js/pages/action.show.js' %}");
</script>
{% endblock %}
