Hi {{ user.first_name }},

Since you recently signed up with your local 350 group, we've created an account for you
on <a href="http://local.350.org">350 Local</a> -- a site where you can connect with
climate activists near you. 

Click on this link to get a password and log in to the site:

{{protocol}}://{{domain}}/claim_account/{{uid}}-{{token}}/

From, 

The 350.org Staff

P.S. You'll receive the occasional update from the 350 network -- both local and 
global -- at urgent moments when you can make a difference. If you don't want to 
get future updates from your local 350 group, ???click here???. If you don't want to 
receive updates from the global 350 network, just click here: www.350.org/unsubscribe
