{% extends "base/base.html" %}
{% load dated_static %}
{% load i18n %}
{% load humanize %}
{% block rah_nav_select %}nav_home{% endblock %}
{% block 12c_content %}
    {% include "_messages.html" %}
    <div class="grid_12 alpha omega" id="home_slide_nav">
        <a href="#1" id="home_slide_nav_1" class="home_slide_nav_selected">{% blocktrans %}Welcome{% endblocktrans %}</a>
        <a href="#2" id="home_slide_nav_2">{% blocktrans %}Empower your Home{% endblocktrans %}</a>
        <a href="#3" id="home_slide_nav_3">{% blocktrans %}Empower your Community{% endblocktrans %}</a>
        <a href="#4" id="home_slide_nav_4">{% blocktrans %}Create an Account{% endblocktrans %}</a>
    </div>
    <div class="grid_1 alpha center">
        <a href="#" id="home_slide_nav_prev" class="sprite_slide_nav_prev"></a>
    </div>
    <div class="grid_10">
        <div id="home_slide_container">
            <div id="home_slide_holder">
                <div id="home_slide_1" class="home_slide">
                    <div class="home_slide_left">
		      <a href="{% url group_list %}">
                        <img src="" alt="" width="420" height="298"/>
		      </a>
                    </div>
                    <div class="home_slide_right">
		      {% if request.user.is_anonymous %}
                        <h1>{% blocktrans %}Be an Energy Trendsetter!{% endblocktrans %}</h1>
                        <p class="home_slide_main_text">
			  {% blocktrans %}
                            {{ SITE_NAME }} makes energy efficiency easy, fun and
                            social. Across the country, our members are working to
                            transform the way their homes and communities use energy.
			  {% endblocktrans %}
                        </p>
                        <p>
                            <a href="{% url register %}" class="button button_mega button_shadow">{% blocktrans %}Create an Account{% endblocktrans %} &rsaquo;</a>
                        </p>
			{% else %}
                        <h1>{% blocktrans with request.user.first_name as user_name %}Welcome back, {{user_name}}!{% endblocktrans %}</h1>
                        <p class="home_slide_main_text">
			  {% blocktrans %}
			  Welcome back to {{ SITE_NAME }}!
			  {% endblocktrans %}
                        </p>
                        <p>
                            <a href="{% url user_self_redirect %}" class="button button_mega button_shadow">{% blocktrans %}My Account{% endblocktrans %} &rsaquo;</a>
                        </p>
			{% endif %}
                    </div>
                </div>
                <div id="home_slide_2" class="home_slide">
                    <div class="home_slide_left">
                        <h1>{% blocktrans %}You have the power <br/>to save energy{% endblocktrans %}</h1>
                        <p class="home_slide_main_text">
			  {% blocktrans %}
                            Our energy actions give you the necessary know-how to save
                            energy, lower your bills and improve our environment by
                            reducing greenhouse gas pollution. The more actions you
                            complete, the more badges and points you earn for your
                            progress. 
			  {% endblocktrans %}
                        </p>
                        <p>
                            <a href="{% url action_show %}" class="button button_mega button_shadow">{% blocktrans %}See All Actions{% endblocktrans %} &rsaquo;</a>
                        </p>
                    </div>
                    <div class="home_slide_right">
                         <img src="{% dated_static 'images/theme/home_slide_2.png' %}" alt="" width="411" height="298"/>
                    </div>
                </div>
                <div id="home_slide_3" class="home_slide">
                    <div class="home_slide_left">
                         <img src="{% dated_static 'images/theme/home_slide_3.png' %}" alt="" width="411" height="297"/>
                    </div>
                    <div class="home_slide_right">
                        <h1>{% blocktrans %}Support energy efficiency in your community{% endblocktrans %}</h1>
                        <p class="home_slide_main_text">
			  {% blocktrans %}
                            Stay up-to-date on energy efficiency efforts in your
                            neighborhood, school, workplace or other group by joining a
                            {{ SITE_NAME }} community. Communities make it easy to
                            share tips and stories with Trendsetters like you.
			  {% endblocktrans %}
                        </p>
                        <p>
                            <a href="{% url group_list %}" class="button button_mega button_shadow">{% blocktrans %}Find Communities{% endblocktrans %} &rsaquo;</a>
                        </p>
                    </div>
                </div>
                <div id="home_slide_4" class="home_slide">
                    <div class="home_slide_left">
                        <h1>{% blocktrans %}Host and attend local climate events{% endblocktrans %}</h1>
                        <p class="home_slide_main_text">
			  {% blocktrans %}
                          Find local events taking place near you, or host your own event using our organizational tools and event materials.  After the event, start a group to keep the momentum going and stay in touch with other attendees.
			  {% endblocktrans %}
                        </p>
                        <p>
                            <a href="{% url event-show %}" class="button button_mega button_shadow">{% blocktrans %}Find Events{% endblocktrans %} &rsaquo;</a>
                        </p>

                    </div>
                    <div class="home_slide_right">
                        <img src="{% dated_static 'images/theme/home_slide_2.png' %}" alt="" width="400" height="284"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid_1 omega">
        <a href="#" id="home_slide_nav_next" class="sprite_slide_nav_next"></a>
    </div>

    <div class="grid_12 alpha omega" id="home_stat_bar">
        <div class="home_stat_wrap">
            <div class="home_stat">
              {% blocktrans %}Total {{ SITE_NAME }} Trendsetters{% endblocktrans %}
            </div>
            <div class="home_stat_num home_stat_1">{{ total_trendsetters|intcomma }}</div>
        </div>
        <div class="home_stat_wrap">
            <div class="home_stat">
              {% blocktrans %}Total {{ SITE_NAME }} Communities{% endblocktrans %}
            </div>
            <div class="home_stat_num home_stat_2">{{ total_communities|intcomma }}</div>
        </div>
        <div class="home_stat_wrap">
            <div class="home_stat">
              {% blocktrans %}Pounds of Coal Saved by {{ SITE_NAME }}{% endblocktrans %}
            </div>
            <div class="home_stat_num home_stat_3">{{ total_points|intcomma }}</div>
        </div>
        <div class="home_stat_wrap home_stat_wrap_last">
            <div class="home_stat">
              {% blocktrans %}Actions Taken by {{ SITE_NAME }}{% endblocktrans %}
            </div>
            <div class="home_stat_num home_stat_4">{{ total_actions|intcomma }}</div> 
        </div>
    </div>

    <div class="grid_12 alpha omega">
        <div class="grid_4 alpha">
	  <div id="home_featured_projects">
            <h2 class="home_feature_heading">{% blocktrans %}Featured Projects{% endblocktrans %}</h2>
                <ul class="plain_list nugget_2c_list">
                </ul>
                <br/>
                <div class="center">
                    <a href="{% url action_show %}" class="button button_blue button_189">{% blocktrans %}Browse Projects{% endblocktrans %}</a>
                </div>
	  </div>
        </div>
        <div class="grid_4">
            <div id="home_featured_users">
                <h2 class="home_feature_heading">{% blocktrans %}Featured Users{% endblocktrans %}</h2>
                <ul class="plain_list nugget_2c_list">
                    {% for user in top_users %}
                        {% include "base/_nugget_2c_list.html" %}
                    {% endfor %}
                </ul>
                <br/>
                <div class="center">
                    <a href="{% url user_list %}" class="button button_blue button_189">{% blocktrans %}Browse Users{% endblocktrans %}</a>
                </div>
            </div>
        </div>
        <div class="grid_4 omega">
            <h2 class="home_feature_heading">{% blocktrans %}Featured Communities{% endblocktrans %}</h2>
            <ul class="plain_list nugget_4c_list">
                {% for group in top_communities %}
                <li>
                <a href="{{ group.get_absolute_url }}" class="group_list_thumb">
                    <img src="{{ MEDIA_URL }}{{ group.image.thumbnail_colorspace_60x60smartcrop }}" alt="group image" height="60" width="60" />
                </a>
                <div>
                    <a href="{{ group.get_absolute_url }}">{{ group.name }}</a><br/>
                    <span>{{ group.geom }}</span><br/>
                    {% blocktrans with group.member_count|intcomma as num_members %}
		    {{num_members}} members 
		    {% endblocktrans %}
		    <span>|</span>
		    {% blocktrans with group.total_points|intcomma as num_points %}
		    {{num_points}} points
		    {% endblocktrans %}
                </div>
                </li>
                {% endfor %}
            </ul>
	    <br/>
            <div class="center">
                <a href="{% url group_list %}" class="button button_blue button_189">{% blocktrans %}Browse Communities{% endblocktrans %}</a>
            </div>

        </div>
    </div>
    <script>
        var RAH = RAH || {};
        RAH.pagescripts = RAH.pagescripts || [];
        RAH.pagescripts.push("{% dated_static 'js/pages/rah.home.js' %}");
    RAH.sprite_url = "{% dated_static 'images/theme/sprite.png' %}";
    // Add locations for plotting on the map
    RAH.event_locations = [];
    RAH.map_center = {};
    {% with request.user.get_profile.geom as geom %}
    {% if geom %}
    RAH.map_center.lat = {{geom.latlng.y}};
    RAH.map_center.lng = {{geom.latlng.x}};
    {% endif %}
    {% endwith %}
    {% for group in map_groups %}
        var info = "<b>{{ group.name|escape|escapejs }}</b><br/> {{ group.geom.raw_address|escape|escapejs }}<br/>";
       {% if group.is_external_link_only %}
            info += "<a ref='nofollow' href='{{group.external_link}}'>{% blocktrans %}Go to group website{% endblocktrans %}</a>";
       {% else %}
            info += "<a href='{% url group_detail group.slug %}'>{% blocktrans %}View group{% endblocktrans %}</a>";
       {% endif %}
       RAH.event_locations.push({
            lat: "{{ group.geom.latlng.y }}",
            lon: "{{ group.geom.latlng.x }}",
            "info": info
        });
    {% endfor %}
    </script>
    {% endblock %}

