{% extends "base/nav_form.html" %}
{% load i18n %}
{% load dated_static %}

{% block content %}
    <h1>{% blocktrans %}Edit your Profile{% endblocktrans %}</h1>
    <div id="profile_edit_tabs" class="tabs">
        <ul id="tab_nav" class="plain_list">
            <li><a href="#account_tab">{% blocktrans %}Account{% endblocktrans %}</a></li>
            <li><a href="#notifications_tab">{% blocktrans %}Notifications{% endblocktrans %}</a></li>
            <li><a href="#social_networks_tab">{% blocktrans %}Social Networks{% endblocktrans %}</a></li>
	    <li><a href="#settings_tab">{% blocktrans %}Settings{% endblocktrans %}</a></li>
        </ul>
	<div id="settings_tab">
          <p>
            {% if "www.gravatar.com" in profile.profile_picture %}
            <a href="http://en.gravatar.com/" target="_blank">{% blocktrans %}Change your avatar on gravatar.com{% endblocktrans %}</a><br/>
            {% endif %}
            {% if not profile.facebook_connect_only %}
            <a href="{% url password_change %}">{% blocktrans %}Change your password{% endblocktrans %}</a><br/>
            {% endif %}
          </p>
	</div>
        <div id="account_tab">
            <form class="form_6c" id="profile_edit_form" 
		  action="" method="post" autocomplete="false">
                {% with account_form as form %}
                    {% include "base/_form.html" %}
                {% endwith %}
                {% with profile_form as form %}
                    {% include "base/_form.html" %}
                {% endwith %}
                <p style="clear: both">
		  <input type="submit" name="edit_account"
			 value="{% blocktrans %}Save profile{% endblocktrans %}" />
		</p>
                {% csrf_token %}
            </form>
        </div>
        <div id="notifications_tab">
            <form id="notifications_form" action="" method="post" class="form_6c">
              {% with group_notifications_form.notifications as field %}
              <div id="community_notifications" 
		   class="form_row {% if field.errors %}error{% endif %}">
                {{ field.label_tag }}

		{% if not field.field.queryset.count %}
		<p>
		  {% url group_list as group_list_url %}
		  {% blocktrans %}
		  You're not yet a member of any communities.  
		  Why don't you <a href="{{group_list_url}}">
		    look for some communities to join?</a>
		  {% endblocktrans %}
		</p>
		{% else %}
                <div class="notification_selectors" class="hidden">
                  <a class="selector select_all" href="">{% blocktrans %}Select All{% endblocktrans %}</a> |
                  <a class="selector deselect_all" href="">{% blocktrans %}Deselect All{% endblocktrans %}</a>
                </div>
                {{ field }}
                {% if field.help_text %}
                <div class="help_text">{{ field.help_text }}</div>
                {% endif %}
                {% if field.errors %}
                <label class="error" for="{{ field.auto_id }}">
                  {% for error in field.errors %}
                  {{ error }}
                  {% endfor %}
                </label>
                {% endif %}
		{% endif %}
              </div>
              {% endwith %}

              <br style="clear: both" />

                {% with stream_notifications_form.stream_notifications as field %}
                    <div id="stream_notifications" class="form_row {% if field.errors %}error{% endif %}">
                        {{ field.label_tag }}
                        <div class="notification_selectors" class="hidden">
                            <a class="selector select_all" href="">{% blocktrans %}Select All{% endblocktrans %}</a> |
                            <a class="selector deselect_all" href="">{% blocktrans %}Deselect All{% endblocktrans %}</a>
                        </div>
                        {{ field }}
                        {% if field.help_text %}
                            <div class="help_text">{{ field.help_text }}</div>
                        {% endif %}
                        {% if field.errors %}
                            <label class="error" for="{{ field.auto_id }}">
                                {% for error in field.errors %}
                                    {{ error }}
                                {% endfor %}
                            </label>
                        {% endif %}
                    </div>
                {% endwith %}
                <p style="clear: both"><input type="submit" name="edit_notifications" value="{% blocktrans %}Save notifications{% endblocktrans %}" /></p>
                {% csrf_token %}
            </form>
        </div>
        <div id="social_networks_tab">
            <p>
	      {% blocktrans %}
              Share the good times by linking to your online networks. 
	      After you link up, you can publish your
              {{ SITE_NAME }} activity to your Facebook or Twitter steams.
	      {% endblocktrans %}
            </p>
            <ul class="plain_list">
                <li>
                    <img src="{% dated_static 'images/theme/social_icons/48/facebook.png' %}" alt="{% blocktrans %}Facebook icon{% endblocktrans %}" 
                         title="{% blocktrans %}Facebook{% endblocktrans %}"
			 width="48" height="48" class="floater"/>
                    <p class="floater" style="margin-right:48px">
                      <b>{% blocktrans %}Facebook{% endblocktrans %}</b><br/>
                      {% if profile.facebook_access_token %}
                      {% if profile.facebook_share %}
                      <a href="{% url facebook_disable_sharing %}">{% blocktrans %}Disable automatic sharing{% endblocktrans %}</a>
                      {% else %}
                      <a href="{% url facebook_enable_sharing %}">{% blocktrans %}Enable automatic sharing{% endblocktrans %}</a>
                      {% endif %}
                      {% endif %}
                      {% if profile.facebook_connect_only %}
		      {% blocktrans %}
                      You cannot unlink your facebook account, since you are currently logged in with facebook
		      {% endblocktrans %}
                      {% else %}
                      {% if profile.facebook_access_token %}
                      <br/><a class="" href="{% url facebook_unauthorize %}">{% blocktrans %}Unlink your Facebook account{% endblocktrans %}</a>
                      {% else %}
                      <a id="link_with_facebook" class="" href="{% url facebook_authorize %}">{% blocktrans %}Link your Facebook account{% endblocktrans %}</a>
                      {% endif %}
                      {% endif %}
                    </p>
                </li>
                <li>
                    <img src="{% dated_static 'images/theme/social_icons/48/twitter.png' %}" alt="{% blocktrans %}Twitter icon{% endblocktrans %}" 
                         title="{% blocktrans %}Twitter{% endblocktrans %}"
			 width="48" height="48" class="floater"/>
                    <p class="floater">
                        <b>{% blocktrans %}Twitter{% endblocktrans %}</b><br/>
			{% if profile.twitter_access_token %}
			{% if profile.twitter_share %}
			<a href="{% url twitter_disable_sharing %}">{% blocktrans %}Disable automatic sharing{% endblocktrans %}</a>
			{% else %}
			<a href="{% url twitter_enable_sharing %}">{% blocktrans %}Enable automatic sharing{% endblocktrans %}</a>
			{% endif %}
			{% endif %}
                        {% if profile.twitter_access_token %}
                            <a class="" href="{% url twitter_oauth_unauth %}">{% blocktrans %}Unlink your Twitter account{% endblocktrans %}</a>
                        {% else %}
                            <a id="link_with_twitter" class="" href="{% url twitter_oauth_auth %}">{% blocktrans %}Link your Twitter account{% endblocktrans %}</a>
                        {% endif %}
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <script>
        var RAH = RAH || {};
        RAH.pagescripts = RAH.pagescripts || [];
        RAH.pagescripts.push("{% dated_static 'js/pages/rah.profile.edit.js' %}");
    </script>
{% endblock %}
