{% extends "base/nav_9c.html" %}
{% load i18n %}
{% block title %}{% blocktrans with request.GET.q as search_query %}Results for '{{search_query}}'{% endblocktrans %}{% endblock %}
{% block content %}
    <h1>{% blocktrans %}Search {{ SITE_NAME }}{% endblocktrans %}</h1>
    <div id="cse_search_results"></div>
    <script type="text/javascript">
        var googleSearchIframeName = "cse_search_results";
        var googleSearchFormName = "cse_search_box_form";
        var googleSearchFrameWidth = 675;
        var googleSearchDomain = "www.google.com";
        var googleSearchPath = "/cse";
    </script>
    <script type="text/javascript" src="http://www.google.com/afsonline/show_afs_search.js"></script>
{% endblock %}
{% block js %}{% endblock %}
