{% extends "base/nav_9c.html" %}
{% load i18n %}
{% load dated_static %}
{% block title %}{% blocktrans %}User List{% endblocktrans %}{% endblock %}
{% block title_bar_title %}{% blocktrans %}User List{% endblocktrans %}{% endblock %}
{% block title_bar_copy %}
{% blocktrans %}
Browse users
{% endblocktrans %}
{% endblock %}
{% block ribbon_bar %}
{% blocktrans %}
Showing {{ num_users }} users
{% endblocktrans %}
{% endblock %}
{% block content %}
<div id="map_search" style="padding: 5px; background-color: #f2f2f2; 
			    border-radius: 5px;">
  <form class="search_widget">
    <div>
      <div style="float: right; padding-bottom: 5px; padding-left: 10px;">
	<input type="text" placeholder="{% blocktrans %}Address or region{% endblocktrans %}" 
	       id="search_widget_input" style="width: 250px"
	       class="search_value ui-autocomplete-input" role="textbox" />
	<button class="search_button"><span class="sprite_search_mag"></button>
      </div>
      <label style="float:right; padding-top: 5px"
	     for="map_search_place">{% blocktrans %}Search near:{% endblocktrans %}</label>
    </div>
  </form>
</div>
<div id="events_map_container">
    <div id="events_map"></div>
    <div id="events_map_shadow_top"></div>
    <div id="events_map_shadow_right"></div>
    <div id="events_map_shadow_bottom"></div>
    <div id="events_map_shadow_left"></div>
</div>

<ul id="user_list" class="plain_list nugget_9c_list">
</ul>

<script type="text/javascript" charset="utf-8">
    //<![CDATA[
    var RAH = RAH || {};
    RAH.pagescripts = RAH.pagescripts || [];
    RAH.pagescripts.push("{% dated_static 'js/pages/user.list.js' %}");
    RAH.sprite_url = "{% dated_static 'images/theme/sprite.png' %}";

    RAH.user_list = document.getElementById('user_list');
    RAH.user_list_url = '{% url user_list_batch %}';
    RAH.user_list_batch_size = {{ batch_size }};

    // center map on requesting user's location if available
    RAH.map_center = {};
    {% with request.user.get_profile.geom as geom %}
    {% if geom %}
    RAH.map_center.lat = {{geom.latlng.y}};
    RAH.map_center.lng = {{geom.latlng.x}};
    {% endif %}
    {% endwith %}
    //]]>
</script>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
{% endblock %}

